<div class="row">
      <div class="col">
        <div class="card mb-4 align-items-center">
          <div class="card-body container-fluid text-center">
           <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">John Smith</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus luctus quam in pharetra. Nulla nulla libero, volutpat quis bibendum ut, interdum et lacus. Fusce tempus quam at erat porta tempor. Vivamus eget iaculis massa, sit amet condimentum magna. Aenean eget velit metus. Aenean pellentesque consequat augue. Donec eleifend magna elementum, hendrerit orci sit amet, dictum mauris</p>
            <p class="text-muted mb-4">johnsmith@gmail.com</p>
          </div>
        </div>
      </div>
</div>
