/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
.custom-table{
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}
